.footer__link  {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    padding-right: 18px;
    font-weight: 100;
}

.footer__link:hover  {
    cursor: url('../../../images/Imported\ Layers\ Copy\ 4.svg'), auto;
}

@media screen and (max-width: 425px) {
    .footer__link  {
        font-size: 24px;
        line-height: 56px;
    }
}