.place__paragraph  {
    font-size: 18px;
    line-height: 163%;
    font-weight: 100;
    margin-bottom: 24px;
}

@media screen and (max-width:768px)  {
    .place__paragraph {
        padding: 32px 16px 24px 16px;
        font-size: 16px;
    }
}

@media screen and (max-width:425px)  {
    .place__paragraph {
        padding: 0px 16px 24px 16px;
        position: relative;
        bottom: 24px;
        font-size: 16px;
    }
}