@import url(./__item/nav__item.css);

.nav  {
    display: flex;
    flex-direction: row;
    list-style: none;
}

@media screen and (max-width: 425px) {
    .nav  {
        flex-direction: column;
    }
}
