@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);

.place  {
    display: grid;
    grid-gap: 40px 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0px 48px 80px 48px;
}

@media screen and (max-width:768px)  {
    .place {
        margin: 0px;
        display: block;
        margin-top: 48px;
        min-width: 320px;
    }
}