@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);

.place  { 
    max-width: 984px; 
    display: grid; 
    grid-gap: 40px 48px; 
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px; 
} 

.place:last-child  {
    margin-bottom: 92px;
}
 
@media screen and (min-width: 769px) and (max-width: 1024px)  { 
    .place  { 
        margin-top: 80px;
        margin-bottom: 80px;
        grid-gap: 32px 48px;  
    } 

    .place:first-child  {
        margin-top: 92px;
    }
} 
 
@media screen and (min-width: 620px) and (max-width:768px)  { 
    .place { 
        grid-gap: 28px 48px;
        margin-top: 72px; 
        margin-bottom: 72px;
    } 

    .place:first-child  {
        margin-top: 88px;
    }

    .place:last-child  {
        margin-bottom: 88px;
    }
} 
 
@media screen and (min-width: 425px) and (max-width: 620px) { 
    .place  { 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(1, auto); 
        margin-bottom: 48px;  
    } 

    .place:first-child  {
        margin-top: 64px;
    }

    .place:last-child  {
        margin-bottom: 64px;
    }
} 

@media screen and (max-width: 425px) { 
    .place  { 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(1, auto);
        margin-bottom: 48px;   
    } 

    .place:first-child  {
        margin-top: 64px;
    }

    .place:last-child  {
        margin-bottom: 64px;
    }
} 