.place__website  {
    margin-top: 30px;
    grid-column-start: 2;
    align-self: end;
}

@media screen and (min-width:620px) and (max-width: 768px)  {
    .place__website {
        font-size: 16px;
    }
}

@media screen and (max-width:620px)  {
    .place__website {
        display: none;
    }
}