.place__website  {
    margin-top: 30px;
    transition: opacity .25s ease-in-out;
    grid-column-start: 2;
    align-self: end;
}

.place__website:hover  {
    cursor: url('../../../images/Imported\ Layers\ Copy\ 4.svg'), auto;
    opacity: 0.8;
}

@media screen and (min-width:425px) and (max-width: 768px)  {
    .place__website {
        font-size: 16px;
    }
}

@media screen and (max-width:425px)  {
    .place__website {
        position: absolute;
        display: none;
    }
}